body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
span{
    font-size: 70px;
    font-family: 'Autobiography', sans-serif
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 50px;
}

.product-image {
    float: left;
    margin-right: 20px;
}

.product-image img {
    width: 300px;
}

.product-info {
    float: left;
}

.product-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-info li {
    margin-bottom: 5px;
}

.buy-now {
    text-align: center;
    margin-top: 50px;
}

.buy-now a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
}